h1{
    margin-block-start: -8px;
    margin-inline-start: 3px;
    font-size: xxx-large;}


    .profile img {
        width: 351px;
        height: 463px;
        margin-inline-start: -9px;
        border: solid;
        border-color: #1ddecb;
        border-width: thick;
        
    }
    


    .contact {
        margin-block-start: -19px;
        
        font-size: 26px;
    
    }

    .namecontact{
        background-color: #1ddecb;
        width: 349px;
        height: 226px;
    }


.skills {
    
    margin-inline-start: 356px;
    margin-block-start: -715px;
    width: 308px;
    height: 695px;

}


.skills h2{
    font-size: 1.6em;
    text-align: center;
    text-decoration: underline;
}

.hard{
    width: 328px;
    height: 254px;
    font-size: 1.4em;
    background-color: #1ddecb;
    margin-top: -20px;
    margin-block-end: -263px;
}

ul {
    font-size: 23px;
}



.soft {    margin-block-start: -15px;
    width: 327px;
    height: 189px;
    margin-block-end: -204px;
    margin-inline-start: 0px;
    background-color: #1ddecb;}

.languages{
    width: 327px;
    height: 134px;
    margin-block-start: -14px;
    background-color: #1ddecb;
    margin-block-end: -146px;
}

.lang{    margin-block-start: -18px;}

.soh2{    margin-block-start: -15px;
}

.education{    font-size: 16px;
    margin-block-start: -13px;
    height: 34px;
    background-color: #1ddecb;
}

.about{
    background-color: #1ddecb;
    width: 769px;
    margin-block-start: -735px;
    margin-inline-start: 688px;
    height: 74px;
}

.links{    margin-inline-start: 701px;
    margin-inline-start: 699px;
    margin-block-start: 524px;}

.about h1{text-decoration: underline;}

.links h1{    text-decoration: underline;
    margin-block-end: 2px;

}

.aboutme{font-size: 1.4em;}

.work{
    background-color: #1ddecb;
    margin-block-start: -474px;
    width: 755px;
    margin-inline-start: 692px;
    height: 360px;
    font-size: 29px;
}

.work h1{text-decoration: underline;}
